<div class="row-menu" id="row-menu" hidden>
  <button class="row-menu-item" data-action="promote">
    <i class="ti ti-arrow-bar-to-up"></i> Promote
  </button>
  <button class="row-menu-item" data-action="demote">
    <i class="ti ti-arrow-bar-to-down"></i> Demote
  </button>
  <div class="row-menu-divider"></div>
  <button class="row-menu-item" data-action="rename">
    <i class="ti ti-pencil"></i> Rename
  </button>
  <button class="row-menu-item" data-action="mute">
    <i class="ti ti-eye-off mute-icon"></i> <span class="mute-label">Mute</span>
  </button>
  <button class="row-menu-item row-menu-danger" data-action="remove">
    <i class="ti ti-trash"></i> Remove
  </button>
</div>
